.back-drop{
   
    padding: 20px;
    margin-top:10%;
     margin-left: 25%;
     margin-right: 35%;
     border-radius:5px;
     background-color:rgba(56, 49, 49, 0.829);
 }
 

 .container-input{
     border-radius: 5px;
     margin-top: 1px;
     padding: 1px;
     background-color: lightcyan;
 }