.input{
     /* border-radius: 5px;  */
      padding: 10px; 
      height: 27px;
      margin-left: 5%;
      margin-right: 5%;
      width: 85%;
      border-color:black;
      border-width: 0 0 1px ;
      background-color: lightcyan;
      /* margin-bottom: 20px; */
    
    }

input:focus{
    box-shadow: none;
    outline: none;
}